
.background {
  position: relative; 
  width: 100%; height: 288px;
  background-image: url(/Tp3/EntregaFinal/spriteSheets/background/backgroundsprite.png);
  animation: fondo 64s steps(4104) infinite;
  animation-play-state: paused;
  z-index: 20;
}
.middle-background{
  position: relative;
  width: 100%; height: 288px;
  background-image: url(/Tp3/EntregaFinal/spriteSheets/background/middlegroundsprite.png);
  animation: mediofondo 64s steps(2056) infinite;
  animation-play-state: paused;
  z-index: 10;
}
.front-background{
  position: relative;
  width: 100%; height: 274px;
  background-image: url(/Tp3/EntregaFinal/spriteSheets/background/frontgroundsprite.png);
  animation: frente 50s steps(1024) infinite;
  animation-play-state: paused;
  z-index: 7;
}
.oldman{
  top: 210px;
  width: 34px; height: 42px;
  position: relative;
  background-image: url(/Tp3/EntregaFinal/spriteSheets/character/oldman-idle.png);
  animation: imp 2s steps(12) infinite;
  animation-play-state: paused;
  z-index: 0; 
}
.imp{
  top: 210px;
  left: 1%;
  width: 34px; height: 42px;
  position: relative;
  background-image: url(/Tp3/EntregaFinal/spriteSheets/character/oldman-walk.png);
  animation: imp 2s steps(12) infinite;
  z-index: 0;
}
.saltar{
  top: 210px;
  left: 1%;
  width: 34px; height: 42px;
  position: relative;
  background-image: url(/Tp3/EntregaFinal/spriteSheets/character/oldman-walk.png);
  animation: saltar 1s steps(12) ;
  z-index: 0;
}
.obstaculo{
  top: 179px;
  width: 39px; height: 35px;
  position: relative;
  background-image: url(/Tp3/EntregaFinal/spriteSheets/obstaculos/crate.png);
  animation: obstaculo 7s infinite linear;
  animation-play-state: paused;
  z-index: 0;
}
@keyframes obstaculo{
  0% {
    left: 97%;
  }
  100%{
    left: 0%;
  }  
}
@keyframes fondo {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: -1536px 0
  }
}
@keyframes mediofondo{
  0% {
    background-position: 0 0
  }
  100% {
    background-position: -3072px 0
  }
}
@keyframes frente{
  0% {
    background-position: 0 0
  }
  100% {
    background-position: -4140px 0
  }
}

@keyframes imp{
  100% {
    background-position: -408px 0
  }
}
@keyframes saltar{
  50% {
    top: 120px;
  }
  60%{
    top: 140px;
  }
  
  70%{
    top: 160px;
  }
  80%{
    top: 180px;
  }
  90%{
    top: 200px;
  }
  100%{
    background-position: -408px 0
  }
}
